{% extends 'article/base.html'%}

{%block content%}
    <a href="{%url 'article:ajout_article' %}">Ajouter</a>
    {% for article in articles %}
        <div class="container">
            <div class="card" style="width: 18rem;">
                {% if article.image %}
                <img src="{{article.image.url}}" class="card-img-top" alt="...">
                {% else %}
                <p>No image</p>
                {% endif %}
                <div class="card-body">
                  <h5 class="card-title">Titre : {{article.titre}}</h5>
                  <p class="card-text">{{article.contenu}}</p>
                  <a href="{%url 'article:modifier_article' article.id%}" class="btn btn-primary">Modifier</a>
                  <a href="{%url 'article:supprimer_article' article.id%}" class="btn btn-danger">Supprimer</a>
                  <a href="{%url 'article:detail_article' article.id%}" class="btn btn-success">Detail</a>
                  <p class="card-footer">Auteur : {{article.auteur}}</p>
                </div>
              </div>
        </div>

    {% endfor %}
{% endblock %}