{% extends 'article/base.html'%}
{% load static %}
{%block content%}
        <h3>Detail Article</h3>
        <p><strong class="grand_ligne">Titre</strong> : {{article.titre}}</p>
        <p><strong class="grand_ligne"></strong>Contenu</strong> : {{article.contenu}}</p>
        <p><strong class="grand_ligne"></strong>Auteur</strong> : {{article.auteur}}</p>
        <p><strong class="grand_ligne"></strong>Date de Publication</strong> : {{article.date_pub}}</p>
        {% if article.image %}
            <img src="{{article.image.url}}" alt="image de l'article" style="width: 100px; height: 100px;">
        {% else %}
            <p>No image</p>
        {% endif %}
        <a href="{%url 'article:modifier_article' article.id%}">Modifier</a>
        <a href="{%url 'article:supprimer_article' article.id%}">Supprimer</a>
{% endblock %}